
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a style="font-size: 30px;" class="navbar-brand" href="">Pixel-Fetch</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div style="font-size: 17px;" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item active">
        <a class="nav-link" href="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item active">
        <a class="nav-link" href="/about">About</a>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item dropdown active">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Tags
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/request?query=trending">Trending</a>
          <a class="dropdown-item" href="/request?query=latest">Latest</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/request?query=nature">Nature</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/request?query=dark">Dark</a>
          <a class="dropdown-item" href="/request?query=abstract">Abstract</a>
          
          
        </div>
      </li>
      
    </ul>
   
  </div>
</nav>